<h1>{{Titulo}}</h1>

<table class= "table table-striped">
  <thead clas="text-center">
    <tr>
      <th>Id Empres</th>
      <th>Razon Social</th>
      <th>Cantidad Empleados</th>
      <th>Fecha Fundación</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let item of items">
      <td>{{item.IdEmpresa}}</td>
      <td>{{item.RazonSocial}}</td>
      <td>{{item.CantidadEmpleados}}</td>
      <td>{{item.FechaFundacion}}</td>
    </tr>
  </tbody>
</table>